php_value max_input_vars 5000
php_value max_execution_time 120
php_value upload_max_filesize 25M
php_value post_max_size 25M
php_value pcre.backtrack_limit 9000000

DirectoryIndex index.html index.cgi index.pl index.php index.xhtml index.phtml
RewriteEngine on
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]

Options -Indexes
Options All -Indexes
